/application/.phpunit.cache
/application/node_modules
/application//public/build
/application/public/hot
/application/public/storage
/application/storage/*.key
/application/storage/framework
/application/vendor
/application/.env
/storage/storage
/storage/temp
/application/.phpunit.result.cache
/application/Homestead.json
/application/Homestead.yaml
/application/npm-debug.log
/application/yarn-error.log
/application/auth.json
/application/npm-debug.log
/application/yarn-error.log
/.fleet
/.idea
/.vagrant
/.vscode